.input {
  width: 100%;
  padding: 0.625rem;
  min-height: 2.8125rem;
  font-size: 1.125rem;
  border: 0.0625rem solid #e2e6f1;
  border-radius: 0.625rem;
  background: #fff;
  outline: none;
  color: $body-color;

  &:focus {
    border-color: #4778ff;
    box-shadow: inset 0 0 0 0.0625rem #4778ff;
    background: #eff3ff;
  }
}
