// slick slider styles

.slick-arrow {
  position: absolute;
  bottom: -6.5625rem;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0a2558 !important;
  border: 0.0625rem solid #234485;
  color: #fff;
  @media (max-width: 1550px) {
    bottom: -106px;
  }
  @media (max-width: 1110px) {
    bottom: -6.5625rem;
  }
  @media (max-width: 630px) {
    bottom: -2.1875rem;
  }
  @media (max-width: 500px) {
    bottom: 1.5625rem;
  }
  @media (max-width: 460px) {
    bottom: 3.4375rem;
  }
  @media (max-width: 380px) {
    bottom: 6rem;
  }
  cursor: pointer;
  text-indent: -99999999rem;
  outline: none;

  &:hover {
    background-color: #4678fe !important;
    border: 0.0625rem solid #4678fe;
  }

  &:after {
    content: "";
    width: 0.4375rem;
    height: 0.875rem;
  }

  &.slick-prev {
    left: calc(50% - 3.5rem);
    background: url(#{$images-dir}/arrow-left.svg) no-repeat center center;
  }

  &.slick-next {
    left: 55%;
    background: url(#{$images-dir}/arrow-right.svg) no-repeat center center;
  }
}

.slick-slide {
  outline: none;
}
