.stars {
  z-index: -1;
  position: relative;
  background: url(#{$images-dir}stars-5-7.svg) no-repeat;
  width: 15rem;
  height: 14.875rem;

  @media (max-width: 1130px) {
    display: none;
  }

  &-home {
    position: absolute;
  }

  &-pay {
    margin-top: -10.5625rem;
    margin-right: -20.3125rem;
  }

  &-about-flesh {
    position: absolute;
    background: url(assets/images/stars-5-7.svg) no-repeat top right;
    right: 4.375rem;
    top: 6.25rem;
    height: 11.25rem;

    &-bottom {
      left: 10.375rem;
      top: -4.125rem;
      position: absolute;
    }
  }
}
