.home-reviews {
  &__title {
    display: flex;
    flex-direction: row;
    //   justify-content: center;
    &-text {
      color: #082458;
      font-family: Rubik;
      font-size: 40px;
      font-weight: 500;
      line-height: 50px;
      margin-bottom: 0;
    }
    &-img {
      margin-top: 2.5rem;
      width: 30px;
      margin-right: 1.2rem;
    }
  }
  &__indent {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 3px;
  }
  &__information-text {
    display: flex;
    justify-content: center;
    margin-top: 2.45rem;
    color: #8b8c95;
    font-family: Rubik;
    font-size: 1rem;
    font-weight: 400;
    line-height: 25px;
  }
  &__video-content {
    display: flex;
    justify-content: center;
    margin-top: 3.8rem;
    &__cart {
      width: 34.25rem;
      height: 31.1875rem;
      background: #fff;
      border-radius: 1.5rem;
      margin-bottom: 1rem;
      margin: 0 25px;
      @media (max-width: 560px) {
        width: 100%;
        height: auto;
      }
      &-info {
        padding: 1.6875rem 1.9375rem 1.125rem 1.625rem;
      }
    }
    &-video {
      height: 20rem;
      width: 100%;
      background: url(#{$images-dir}video-1.svg) no-repeat;
      border-radius: 1.5rem 1.5rem 0 0;
      @media (max-width: 560px) {
        background: url(#{$images-dir}video-1.svg) no-repeat top center;
      }
    }
    &-info {
      display: flex;
      flex-direction: row;

      justify-content: space-between;
      &_name {
        &-title {
          margin: 0;
          color: #000000;
          font-family: Rubik;
          font-size: 1.25rem;
          font-weight: 500;
        }
        p {
          color: #8b8c95;
          font-family: Rubik;
          font-size: 0.875rem;
          font-weight: 400;
          letter-spacing: 0.42px;
          margin: 0;
        }
      }
      &_rating {
        height: 1rem;
        width: 6.25rem;
        margin: 0;
      }
    }
    &_text {
      max-width: 28rem;
      color: #8b8c95;
      font-family: Rubik;
      font-size: 1rem;
      font-weight: 400;
      line-height: 25px;
      margin-right: 1rem;
    }
  }
  &__buttons-slider {
    display: flex;
    justify-content: center;
    margin-top: 1.8rem;
    margin-bottom: 1.5rem;
    &-center {
      display: flex;
      justify-content: space-between;
      width: 10rem;
    }
  }
}
